h1{
    color:brown;
    background-color: black;
    font-weight: bold;
}
li{
    color: red;
    background-color: blue;
    font-size: larger;
}
.special{
    color: black;
    font-style: calc();
    font
    background-color: aqua;
}
a:hover{
    color: blueviolet;
    text-decoration: none;
}